{% extends 'layouts/main.html.twig' %}
{% block titlePage %}Example{% endblock %}
{% block metaDesc %}Example page{% endblock %}

{% block body %}
    <p>Slug : {{ slug }}</p>
    <p>Id : {{ id }}</p>
{% endblock %}